@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* common style  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* header style  */
header {
    background-color: rgba(229, 84, 115, 0.10);
}
.header-banner{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top:30px;
}

/* header left side style  */
.header-left {
    padding:0 60px;
}

.header-left h1 {
    color: #272727;
    font-size:60px;
    font-weight: 800;
}

.header-left p {
    color: rgba(39, 39, 39, 0.60);
    margin: 10px 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.header-left button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #E55473;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

/* header right side style  */
.header-right img {
    width: 420px;
    height: 560px;
}

/* main section  */
/* featured section style */
.feature-section{
    width: 78%;
    margin: auto;
    text-align: center;
    padding-top:100px;
}
.feature-section h1{
    color: #272727;   
    font-size:35px;
    font-weight: 800;
}
.feature-section p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    line-height: 25px;
    padding: 10px ;
}
.featured-flower{
    display: flex;
}
.featured-flower .card-img{
    background-color: #E55473;
    margin:25px 10px;
    align-items: center;
    border-top-left-radius:48%;
    border-top-right-radius:48%;
    height: 360px;
}
.card-img img{
    width: 220px;
    height: 310px;
    padding:50px;
}
.img-2 img{
    height: 270px;
}
.card small{
    color: #272727;
    margin-top: 50px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
}

/* facility section style  */
.facility-section{
    display: flex;
    justify-content:center;
    margin :100px 150px;
    background-color: rgba(39, 39, 39, 0.05);
}
.facility-section .facilities{
    padding: 50px;
    text-align: center;
}
/* hot deal section style  */
.hot-deal-section{
    display: flex;
    align-items: center;
    padding:50px 200px;
    background-color: rgba(229, 84, 115, 0.05);
}
.hot-deal-section .hot-deal-left{
    text-align: center;
    margin-right: 50px;
}
.hot-deal-left h1{
    color: #272727;
    font-size: 30px;
    font-weight: 800;  
}
.hot-deal-left span{
    color:#E55473;
}
.hot-deal-left p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height:25px;
    padding: 20px 50px;
}
.hot-deal-left button{
    padding: 12px 17px;
    border: 0;
    border-radius:5px;
    background: #E55473;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}
.hot-deal-right img{
    width: 250px;
    height: 330px;
}
/* instagram section style  */
.instagram-section{
    text-align: center;
    margin :100px 100px;
}
.instagram-section h1{
    color: #272727;
    font-size: 30px;
}
.instagram-section p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 25px;
    padding: 20px 200px;
}
.instagram-cards img{
    width:230px;
    height: 300px;
    padding: 10px;
}

/* subscribe section style */
.subscribe-section{
    text-align: center;
    background:url('Flower Asset/Rectangle 9.png');
    background-size:cover;
    margin :100px 150px;
    padding: 100px;
}
.subscribe-section h1{
    color: #272727;
    font-size: 30px;
}
.subscribe-section p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    padding: 10px;
}
.subscribe-section input{
    width:400px;
    padding: 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background: #FFF;
}
.subscribe-section button{
    color: #FFF;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #E55473;

}